.front-content__wrap{
    width: 100%;
    height: 571px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.front-content__wrap__left-block{
    width: 45%;
    padding-top: 129px;
}
.front-content__wrap__left-block p{   
    font-family: 'Hind Siliguri Medium';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.145em;
    color: #C72535;
    opacity: 0.6;
    padding-bottom: 15px;    
}
.front-content__wrap__left-block h2{  
    font-family: 'Hind Siliguri Regular'; 
    font-weight: 400;      
    font-size: 61px;
    line-height: 73px;
}
.front-content__wrap__left-block h2 span{  
    font-family: 'Hind Siliguri SemiBold';
    font-style: normal;
    font-size: 61px;
    line-height: 78px;
    color: #247CC0;
    background:#f4faff
}
.front-content__wrap__left-block h3{ 
    font-family: 'Hind Siliguri Regular';
    font-size: 20px;
    line-height: 27px;
    color: #030D15;
    opacity: 0.6;
    padding-top: 29px;
}
.front-content__wrap__btn-wrap {    
    padding-top: 36px;
    display: flex;
    align-items: center;
}

.front-content__wrap__btn-wrap button{   
    width: 151px;
    height: 58px;
    background: #247CC0;
    font-family: 'Hind Siliguri SemiBold';    
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    border: transparent;
    margin-right: 31px;
}
.front-content__wrap__btn-wrap__price{
    font-size: 20px;    
    margin-right: 18px;
}
.front-content__wrap__btn-wrap__price_line-through{
    font-family: 'Hind Siliguri Light';
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: line-through;
    color: #030D15;
    opacity: 0.5;
}
.front-content__wrap__right-block{
    background-image: url("../img/front-img.png");
    background-repeat: no-repeat;
    background-size: contain; 
    background-position:center;
    padding-top: 54px;
    width: 50%;
    height: 98%;
}
